<md-dialog aria-label="HighScores Dialog" class="game-dialog neutral-background-color">
    <md-dialog-content>
        <h3>High Scores</h3>
        <table class="scores-table">
            <tr ng-repeat="s in hsc.highScores">
                <th class="scores-name">{{hsc.cardinals[$index]}}</th>
                <td class="scores-name">{{s.name}}</td>
                <td class="scores-number">{{s.score}}</td>
            </tr>
        </table>
    </md-dialog-content>
    <md-divider></md-divider>
    <md-dialog-actions>
        <md-button class="md-icon-button" ng-click="hsc.confirm()" aria-label="OK" title="OK"
                   id="confirm-high-scores-button">
            <i class="material-icons">done</i>
        </md-button>
    </md-dialog-actions>
</md-dialog>