<md-dialog aria-label="Winners Dialog" class="game-dialog neutral-background-color">
    <md-dialog-content>
        <h3>Winners</h3>
            <table class="scores-table">
                <tr ng-repeat="s in wc.winners">
                    <th class="scores-name">{{wc.cardinals[$index]}}</th>
                    <td class="scores-name">{{s.name}}</td>
                    <td class="scores-number">{{s.score}}</td>
                </tr>
            </table>
        <md-divider></md-divider>
        <h3>High Scores</h3>
        <table class="scores-table">
            <tr ng-repeat="s in wc.highScores">
                <th class="scores-name">{{wc.cardinals[$index]}}</th>
                <td class="scores-name">{{s.name}}</td>
                <td class="scores-number">{{s.score}}</td>
            </tr>
        </table>
    </md-dialog-content>
    <md-divider></md-divider>
    <md-dialog-actions>
        <md-button class="md-icon-button" ng-click="wc.confirm()" aria-label="OK" title="OK"
                   id="confirm-winners-button">
            <i class="material-icons">done</i>
        </md-button>
    </md-dialog-actions>
</md-dialog>