<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kwantos - the "Are there more...?" Game</title>

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.css">

    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.js"></script>

    <!-- Material Icons Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JavaScript for this program -->
    <script src="kwantos_app.js"></script>
    <script src="word_pairs.js"></script>
    <script src="question_service.js"></script>
    <script src="high_scores_service.js"></script>
    <script src="kwantos_controller.js"></script>
    <script src="dialog_controller_help.js"></script>
    <script src="dialog_controller_new_game.js"></script>
    <script src="dialog_controller_winners.js"></script>
    <script src="dialog_controller_high_scores.js"></script>
</head>
<body ng-app="KwantosApp" ng-controller="KwantosController as kc">
<header>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Kwantos</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="kc.doHelpDialog()" aria-label="Help" title="Help"
                       id="help-button">
                <i class="material-icons">help_outline</i>
            </md-button>
            <md-button class="md-icon-button" ng-click="kc.doNewGameDialog()" aria-label="New Game" title="New Game"
                       id="new-game-button">
                <i class="material-icons">replay</i>
            </md-button>
            <md-button class="md-icon-button" ng-click="kc.doHighScoresDialog()" aria-label="High Scores" title="High Scores"
                       id="high-scores-button">
                <i class="material-icons">star_border</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
</header>
<main>
    <div id="round-div" class="neutral-background-color">
        <p>{{kc.roundMessage}}</p>
    </div>
    <md-divider></md-divider>
    <div id="players-div">
        <div ng-repeat="p in kc.players" id="player-{{p.number}}-div" class="player-div player-{{p.number}}-color"
             ng-show="p.number <= kc.playerCount"
             ng-class="{'player-selected': p.index === kc.currentPlayerIndex}">
            <div>
                {{p.name}}
            </div>
            <div>
                <img src="images/coin.png">&nbsp;{{p.score}}
            </div>
        </div>
    </div>
    <div id="turn-div" ng-show="!kc.gameOver" class="player-{{kc.currentPlayerIndex+1}}-color">
        <h3>Question for {{kc.currentPlayer.name}}:</h3>
        <h4>Place your bet:</h4>
        <md-slider-container id="question-bet-slider">
            <md-slider ng-model="kc.currentBetAmount" min="100" max="{{kc.currentPlayer.baseScore}}" step="100"
                       aria-label="Bet Amount"></md-slider>
        </md-slider-container>
        <p><span><img src="images/coin.png"></span>&nbsp;<span>{{kc.currentBetAmount}}</span></p>
        <md-divider></md-divider>
        <h4>Then make your choice:</h4>
        <p>Are there more</p>
        <h3>{{kc.question.itemsName}}</h3>
        <p>containing the word</p>
        <div id="question-left">
            <md-button class="md-primary md-raised choice-button"
                       ng-disabled="kc.answerChosen" ng-click="kc.answerClicked(true)"
                       aria-label="Left Choice" title="Left Choice">
                {{kc.question.answers[0].word}}
            </md-button>
            <p ng-show="kc.answerChosen">Count: {{kc.question.answers[0].count}}</p>
        </div>
        <div id="question-middle">
            <h3>OR</h3>
        </div>
        <div id="question-right">
            <md-button class="md-primary md-raised choice-button"
                       ng-disabled="kc.answerChosen" ng-click="kc.answerClicked(false)"
                       aria-label="Right Choice" title="Right Choice">
                {{kc.question.answers[1].word}}
            </md-button>
            <p ng-show="kc.answerChosen">Count: {{kc.question.answers[1].count}}</p>
        </div>
        <div id="question-confirm-div" ng-show="kc.answerChosen">
            <md-divider></md-divider>
            <h3 id="right-or-wrong">{{kc.rightOrWrong}}</h3>
            <p>
                <md-button class="md-icon-button" ng-click="kc.confirmQuestion()" aria-label="OK" title="OK"
                           id="confirm-help-button">
                    <i class="material-icons">done</i>
                </md-button>
            </p>
        </div>
    </div>
    <md-divider></md-divider>
    <div id="status-div" class="neutral-background-color">
        <p>{{kc.statusMessage}}</p>
    </div>
</main>
</body>
</html>