/* Stylings for overall application. */
.neutral-background-color {
    background-color: #c8dae9;
}

/* Stylings for the header. */
.material-icons {
    vertical-align: middle;
}

/* Stylings for the body and main div. */
body {
    max-width: 1000px;
}

main {
    width: 100%;
    height: 91%;
    display: block;
    position: relative;
}

/* Stylings for the round message div. */
#round-div {
    width: 100%;
    height: 7%;
    margin: 0;
}

#round-div p {
    margin: 0;
    font-size: 125%;
    text-align: center;
    padding-top: 1%;
}

/* Stylings for the player divs. */
#players-div {
    width: 100%;
    height: 12%;
    display: table;
}

.player-div {
    display: table-cell;
    table-layout: fixed;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    font-size: 125%;
}

.player-div div {
    margin-top: 0.2em;
}
.player-div img {
    height: 1em;
    width: auto;
}

.player-div div:first-child {
    height: 1.5em;
    border-bottom: 1px dotted gray;
}

.player-1-color {
    background-color: lightsalmon;
}

.player-2-color {
    background-color: palegreen;
}

.player-3-color {
    background-color: lightpink;
}

.player-4-color {
    background-color: palegoldenrod;
}

/* Stylings for the turn div and question dialog. */
#turn-div {
    width: 100%;
    height: 74%;
    background-image: url("images/question_mark_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#question-dialog {
    width: 120%;
    height: 72%;
    margin-top: 21%;
}

#question-dialog p, #question-dialog h3, #question-dialog h4 {
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    text-align: center;
}

#question-dialog img {
    height: 1em;
    width: auto;
    display: inline;
}

#question-bet-slider {
    width: 80%;
    margin-left: 10%;
}

#question-left {
    width: 40%;
    float: left;
    text-align: center;
}

#question-middle {
    width: 20%;
    float: left;
}

#question-right {
    width: 40%;
    float: right;
    text-align: center;
}

#question-confirm-div {
    clear: both;
}

#correct-answer {
    color: green;
}

#wrong-answer {
    color: red;
}

/* Stylings for the status message at the bottom. */
#status-div {
    width: 100%;
    height: 7%;
    bottom: 0;
    margin: 0;
}

#status-div p {
    margin: 0;
    bottom: 0;
    padding-top: 1%;
}

/* Stylings for the other pop-up dialog boxes. */
.game-dialog {
    width: 90%;
    height: 90%;
    margin: 5%;
    padding: 5%;
    display: block;
}

#new-game-button {
    display: inline-block;
    width: 20%;
}

.player-name-input {
    margin-top: 0;
    margin-bottom: 0;
}